// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #712cf9;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';

// 4. Include any default map overrides here
// Create your own map
$custom-spacers: (
  '10': 1rem * 8,
);

$font-sizes-custom: (
  7: '14px',
  8: '12px',
);

// Merge the maps
$spacers: map-merge($spacers, $custom-spacers);
$font-sizes: map-merge($font-sizes, $font-sizes-custom);

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Include all of Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here
